<!--import navbar, footer, etc.-->

<main>
    <!--title of the wishlist page will be <username>'s wishlist'-->
    <h2 class="title">Wishlist</h2>
    <table class="table">
        <thead>
            <tr>
                <th><!--book image--></th>
                <th>Book Title</th>
                <th>Book Description</th>
                <th>Book Price/Availability</th>
                <th><!--button to purchase/rent/download book--></th>
                <th><!--button to remove book from wishlist--></th>
            </tr>
        </thead>
        <tbody>
            <!--iteratively display books in users wishlist based on their info in db and/or info from api call-->
        </tbody>
    </table>
</main>