<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<main>
  <div class="container">
    <form style="text-align:center;" method="post" action="/submit_books">

      <h4 style="padding-top:5%">Enter your favorite books' ISBN</h4>
      <div class="form-group">
      <input type="text" name="ISBN1" id="books" class="form-control">
      </div>
      <br>
      <input type="text" name="ISBN2" id="books" class="form-control">
      <br>
      <input type="text" name="ISBN3" id="books" class="form-control" >
      <br>
      <input type="text" name="ISBN4" id="books" class="form-control">
      <br>
      <input type="text" name="ISBN5" id="books" class="form-control">
      <br>
      <button class="btn btn-success">
        submit 
      </button>
    </form>
  </div>
</main>
<%- include ('../partials/footer') %>