<%- include ('../Partials/header') %> <%- include ('../Partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Logged out successfully</h1>
  </div>
</main>

<%- include ('../Partials/footer') %>