<%- include ('../Partials/header') %> <%- include ('../partials/menuLoggedOut') %>
<link rel="stylesheet" href="/css/style.css" type="text/css">

<main>
  <div class="container-fluid">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Logged out successfully</h1>
  </div>
</main>

<%- include ('../Partials/footer') %>