<body>
<main>
    <button type="button">Find Matches</button>
    <table>
        <tr>
            <th>Matches</th>
        </tr>
        <tr>
            <td>Match #1 name</td>
            <td><button type="button">Add Friend</button></td>
        </tr>
        <tr>
            <td>Match #2 name</td>
            <td><button type="button">Add Friend</button></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Friends</th>
        </tr>
        <tr>
            <td>Friend #1 name</td>
            <td>General Location</td>
            <img alt="Icon" style="height:25px" src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" >
        </tr>
        <tr>
            <td>Friend #2 name</td>
            <td>Genereal Location</td>
            <img alt="Icon" style="height:25px" src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" >
        </tr>
    </table>
</main>
</body>