<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>

    <div class="container">
        <h1>Reviews</h1>
        <div class="row justify-content-center">
        
            <div class="col-sm-3">
                <div class="card " style="width: 18rem; height: 19rem">
                    <img src="../resources/img/art.jpeg" class="card-img-top" height="200px">
                    <div class="card-body">
                    <h5 class="card-title">R1</h5>
                    <p class="card-text">sample review.</p>
                    </div>
                </div>
            </div>
        
        </div>
        <a href="/submit_review" >Submit a book review</a>
    </div>
</main>

<%- include ('../partials/footer') %>